$white: white;

// usate in header
$col-nav-text: #777777; 
$col-button-nav: #dc1245;
// usate in header

// border coloro
$border-col: #dddddd;

// categories color
$col-categories: #848684;
// search color 
$blue-600-search: #195ec8;
// icone login e workers
$blue-300-ico: #5575ca;

// verde subscribe bg
$green-300-bg: #4ed7a8;

// colore della fascia arancione 
$band-col: #f09b23;

// background input bar 
$bg-input: #f0f2f5;

// bg title color
$title-bg: #273044;

// sezione 5
// border coloro 
$brder-color: #e0e0e0;

// colore di paragrafo
$p-color: #989ca6;

// background col sezione 2-4-5
$col-bg-sec: #f0f4fa;